#==============================================================================#
# This file specifies intentionally untracked files that git should ignore.
# See: http://www.kernel.org/pub/software/scm/git/docs/gitignore.html
#
# This file is intentionally different from the output of `git svn show-ignore`,
# as most of those are useless.
#==============================================================================#

#==============================================================================#
# File extensions to be ignored anywhere in the tree.
#==============================================================================#
# Temp files created by most text editors.
*~
# Merge files created by git.
*.orig
# Byte compiled python modules.
*.pyc
# vim swap files
.*.sw?
.sw?

#==============================================================================#
# Explicit files to ignore (only matches one).
#==============================================================================#
cscope.files
cscope.out

#==============================================================================#
# Directories to ignore (do not add trailing '/'s, they skip symlinks).
#==============================================================================#
# Sphinx build products
docs/_build
docs/analyzer/_build

#==============================================================================#
# Build files.
#==============================================================================#
/docs/doxygen.cfg
/include/clang/AST/AttrDump.inc
/include/clang/AST/AttrImpl.inc
/include/clang/AST/AttrVisitor.inc
/include/clang/AST/Attrs.inc
/include/clang/AST/CommentCommandInfo.inc
/include/clang/AST/CommentCommandList.inc
/include/clang/AST/CommentHTMLNamedCharacterReferences.inc
/include/clang/AST/CommentHTMLTags.inc
/include/clang/AST/CommentHTMLTagsProperties.inc
/include/clang/AST/CommentNodes.inc
/include/clang/AST/DeclNodes.inc
/include/clang/AST/Release+Asserts/
/include/clang/AST/StmtNodes.inc
/include/clang/Basic/AttrHasAttributeImpl.inc
/include/clang/Basic/AttrList.inc
/include/clang/Basic/DiagnosticASTKinds.inc
/include/clang/Basic/DiagnosticAnalysisKinds.inc
/include/clang/Basic/DiagnosticCommentKinds.inc
/include/clang/Basic/DiagnosticCommonKinds.inc
/include/clang/Basic/DiagnosticDriverKinds.inc
/include/clang/Basic/DiagnosticFrontendKinds.inc
/include/clang/Basic/DiagnosticGroups.inc
/include/clang/Basic/DiagnosticIndexName.inc
/include/clang/Basic/DiagnosticLexKinds.inc
/include/clang/Basic/DiagnosticParseKinds.inc
/include/clang/Basic/DiagnosticSemaKinds.inc
/include/clang/Basic/DiagnosticSerializationKinds.inc
/include/clang/Basic/Release+Asserts/
/include/clang/Basic/Version.inc
/include/clang/Basic/arm_neon.inc
/include/clang/Config/config.h
/include/clang/Driver/Options.inc
/include/clang/Driver/Release+Asserts/
/include/clang/Parse/AttrParserStringSwitches.inc
/include/clang/Parse/Release+Asserts/
/include/clang/Sema/AttrParsedAttrImpl.inc
/include/clang/Sema/AttrParsedAttrKinds.inc
/include/clang/Sema/AttrParsedAttrList.inc
/include/clang/Sema/AttrSpellingListIndex.inc
/include/clang/Sema/AttrTemplateInstantiate.inc
/include/clang/Sema/Release+Asserts/
/include/clang/Serialization/AttrPCHRead.inc
/include/clang/Serialization/AttrPCHWrite.inc
/include/clang/Serialization/Release+Asserts/
/lib/ARCMigrate/Release+Asserts/
/lib/AST/Release+Asserts/
/lib/ASTMatchers/Dynamic/Release+Asserts/
/lib/ASTMatchers/Release+Asserts/
/lib/Analysis/Release+Asserts/
/lib/Basic/Release+Asserts/
/lib/CodeGen/Release+Asserts/
/lib/Driver/Release+Asserts/
/lib/Edit/Release+Asserts/
/lib/Format/Release+Asserts/
/lib/Frontend/Release+Asserts/
/lib/Frontend/Rewrite/Release+Asserts/
/lib/FrontendTool/Release+Asserts/
/lib/Headers/Release+Asserts/
/lib/Headers/arm_neon.h.inc
/lib/Index/Release+Asserts/
/lib/Lex/Release+Asserts/
/lib/Parse/Release+Asserts/
/lib/Rewrite/Release+Asserts/
/lib/Sema/Release+Asserts/
/lib/Serialization/Release+Asserts/
/lib/StaticAnalyzer/Checkers/Checkers.inc
/lib/StaticAnalyzer/Checkers/Release+Asserts/
/lib/StaticAnalyzer/Core/Release+Asserts/
/lib/StaticAnalyzer/Frontend/Release+Asserts/
/lib/Tooling/Release+Asserts/
/runtime/compiler-rt/clang_linux/
/tools/arcmt-test/Release+Asserts/
/tools/c-arcmt-test/Release+Asserts/
/tools/c-index-test/Release+Asserts/
/tools/clang-check/Release+Asserts/
/tools/clang-format/Release+Asserts/
/tools/diagtool/Release+Asserts/
/tools/driver/Release+Asserts/
/tools/libclang/Release+Asserts/
/unittests/AST/Release+Asserts/
/unittests/ASTMatchers/Dynamic/Release+Asserts/
/unittests/ASTMatchers/Release+Asserts/
/unittests/Basic/Release+Asserts/
/unittests/CodeGen/Release+Asserts/
/unittests/Driver/Release+Asserts/
/unittests/Format/Release+Asserts/
/unittests/Frontend/Release+Asserts/
/unittests/Lex/Release+Asserts/
/unittests/Sema/Release+Asserts/
/unittests/Tooling/Release+Asserts/
/unittests/libclang/Release+Asserts/
/utils/TableGen/Release+Asserts/
